#frontContent {
    background: url("https://i.imgur.com/5JBRgAB.png")  no-repeat center fixed;
    width: 1000px;
}

#marmaladeButton {
    position: absolute;
    top: 200px;
}

#marmaladeButton :hover {
    cursor: pointer;
}

#sheetContent {
    background: url("https://i.imgur.com/DxJQmlF.jpg")  no-repeat fixed;
    width: 1000px;
}