#frontContent {
    background: url("https://i.imgur.com/5JBRgAB.png");
    width: 1000px;
    height: 100%;
}

#marmaladeButton {
    position: absolute;
    top: 200px;
}

#marmaladeButton :hover {
    cursor: pointer;
}

#sheetContent {
    background: url("https://i.imgur.com/DxJQmlF.jpg");
    width: 1000px;
}